body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5a7c0544d74cffa3a6ce66b3/1630184464268-J71XU6EUP9Z4VZFR5BCK/Grossglockner+valley%2C+Austria.jpg?format=2500w) ;
    background-size: 100%;
}
#head{
    text-align: center;
}
#card{
    /* color: blueviolet; */
   
    margin: auto;
    display: table;
    /* flex-wrap: wrap; */
    /* grid-template-columns:  auto ; */
    gap: 15px;
    padding: 0px 80px;
    
}
.dele{
    border-radius: 20px;
  
/* border: 3px blue outset; */
/* padding: 60px; */
margin: 20px;
/* background-color: chartreuse; */
cursor: pointer;

}
#winer{
    text-align: center;
    font-size:30px
}

h1{
    border: 3px blue outset ;
    margin: auto;
    display: grid;
    text-align: center;
    
}
#results{
    text-align: left;
}



