
body{
    background-image: url("g1.jpg") ;
    background-size: 2000px;
}
#board{
    color: blueviolet;
   
    margin: auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr  ;
   
    gap: 10px;
    padding: 100px 80px;

}
.card{
border: 3px blue outset;
padding: 60px;
margin: auto;
background-color: chartreuse;
cursor: pointer;




}

h1{
    border: 3px blue outset ;
    margin: auto;
    display: grid;
    text-align: center;
    
}


