body{
    background-image: url(https://images.pexels.com/photos/145685/pexels-photo-145685.jpeg?auto=compress&cs=tinysrgb&w=600) ;
   
    background-size: 100%;
}
#head{
    text-align: center;
}
#card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    





    /* color: blueviolet; */
   
    /* margin: auto;
    display: table; */
    /* flex-wrap: wrap; */
    /* grid-template-columns:  auto ; */
    /* gap: 15px;
    padding: 0px 80px; */
    
}
.dele{
    border-radius: 20px;
  
/* border: 3px blue outset; */
/* padding: 60px; */
margin: 20px;
/* background-color: chartreuse; */
cursor: pointer;

}
#winer{
    text-align: center;
    font-size:30px
}

h1{
    border: 3px blue outset ;
    margin: auto;
    display: grid;
    text-align: center;
    
}
#results{
    background-color: bisque;
    border-radius: 10%;
    text-align: left;
    font-size: x-large;
    
    width:20%;
    height: 80%;

}
#but,#numPlayers,#but1,.input-name,#numb{
    border-radius: 20px;
}
#main{
    display: flex;
    justify-content: center;
}



